<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'admin-bundle' %>
    <%= stylesheet_pack_tag 'admin-bundle' %>
  </head>

  <body class="h-full">
    <%= yield %>
  </body>
</html>
